mixin generateSocialPages(icon, url)
    li.social-icon-items.list-inline-item
        a.social-link(href=`${url}`, title=`Visit Disha Trust on ${icon}`)
            i(class=`mdi mdi-${icon}`)

mixin generateNavOptions(title, url)
    li.nav-item(role="presentation")
        a.nav-link(href=`${url}`) #{title}

mixin generateStats(title, value, icon)
    .stats-item.col-6.col-md-3.text-center
        i(class=`mdi mdi-${icon}`)
        p.h2.fw-bold.stats-counter(data-target=`${value}`) 0
        p #{title}

mixin generateCauses(title, amount, image, description)
    .col-md-4
        .card.causes-card
            img.img-fluid(src=`assets/img/${image}.jpg`)
            .cause-heading
                h6.text-capitalize #{title}
                p.text-capitalize.mb-0 we need to collect #{amount}
            .overlay-text
                p #{description}
                p.h2 #{amount}
mixin generateCauses(title, amount, image, description)
    .col-md-3
        .card.causes-card
            img.img-fluid(src=`${image}`)
            .cause-heading
                h6.text-capitalize #{title}
                p.text-capitalize.mb-0 we need to collect #{amount}
            .overlay-text
                p #{description}
                p.h2 #{amount}
